<div class= "bg">
    <h2>The simple, fast and secure way to buy a car, in 3 easy steps</h2>
    <div class = "icons">
      <div class="icon-div">
            <i class=" fa fa-2x fa-car-side"></i>
            <p>Follow our Auctions</p>
          </div>
          <div class="  icon-div">
            <i class="fa fa-2x fa-gavel" aria-hidden="true"></i>
            <p>Bid or buy now</p>
          </div>
          <div class="  icon-div">
            <i class="fa fa-2x fa-key" aria-hidden="true"></i>
            <p>Get your car tomorrow</p>
          </div>
    </div>
</div>
