#container{
    /* background-color: lightgrey; */
    width: 52%;
    /* border: 15px solid green; */
    padding-top: 10px;
    padding-left: 90px;
    padding-bottom: 20px;
    padding-right: 25px;
    margin-right: 0px;
    margin-left: 20px;
    border: solid #5B6DCD 1px;
    left: 0px;
}

h1{
    font-size: 220%;
    border: solid #5B6DCD 1px;
}

h3{
    font-size: 160%;
    border: solid #5B6DCD 1px;   
}

p{
    font-size: 120%;
    border: solid #5B6DCD 1px;
}

.list{
    font-size: 120%;
    line-height: 1.6;
    border: solid #5B6DCD 1px;
}