<div id="container">
     <div>
     <h1>Your Trustworthy Partner for Buying Used Cars</h1>
</div>
<div>
     <p>If you are a dealer, car gallery or buying used car as a legal entity,
     you can register to our platform for free.</p>
</div>
<div>
     <h3>Our Offerings for Dealers</h3>
</div>
<div class="list">
     <ul>
     <li>Flexible purchase options with no commission or hidden fees</li>
     <li>Wide variety of quality used cars</li>
     <li>Pick up your car one hour after payment has been received</li>
     <li>Visit our warehouse to check any car</li>
     </ul>
</div>